<header class="group">
  <h3>
  <% if (listType === "pending") { %>
    <%= "Pending Friend Requests" %>
  <% } else { %>
    <%= "Friends" %>
  <% } %>
  </h3>
</header>


<ul class="none friends-list group">

</ul>
