<nav class="header-nav group">
  <img id="logo-png" src="http://i.imgur.com/ikk19KZ.png" />
  <ul class="nav-list group">
<% if(currentUser.isSignedIn()) { %>
  <li>
   <form id="search" class="search_form group">
     <select id="hosting_status" name="user[hosting_status]">
       <option value="1">Find Hosts</option>
       <option value="2">Find Members</option>
       <option value="3">Find Travelers</option>
     </select>
     <!-- <input type=text name="query" placeholder="Search by location or name"></input> -->
       <button><i class="fa fa-search"></i></button>
   </form>
  </li>



  <li class="dropdown-nav group">
    <figure class="header-prof-img"><img src="<%= currentUser.get('avatar_url') %>"></figure>
    <span class="hello"><i class="fa fa-bars"></i></span>
    <ul class="dropdown-nav-list">
      <li id="dash-link"><i class="fa fa-home"></i>Dashboard</li>
      <li id="requests-link">
        <i class="fa fa-inbox"></i>Inbox
        

      </li>
      <li id="profile-link"><i class="fa fa-user"></i>My Profile</li>
      <li id="sign-out-link"><i class="fa fa-sign-out"></i>Sign Out</li>

    </ul>
  </li>


<% } else { %>
  <li><a id="login_link" href="#users/new">Join</a></li>
  <li><a href="#session/new" id="login_link">Login</a></li>
<% } %>

  </ul>
</nav>

<style>
.nav-list .header-prof-img{
  float:left;
}
.nav-list .header-prof-img img{
  width:50px;
  height:50px;
}

.dropdown-nav-list{
  float:right;

}
</style>
