<nav class="header-nav group">
  <img src="/assets/logo.png" />
  <ul class="nav-list group">
<% if(currentUser.isSignedIn()) { %>
  <li>
   <form id="search" class="search_form group">
     <select id="hosting_status" name="user[hosting_status]">
       <option value="1">Find Hosts</option>
       <option value="2">Find Members</option>
       <option value="3">Find Travelers</option>
     </select>
       <button>Search</button>
   </form>
  </li>



  <li class="dropdown-nav">

    Hello, <strong><%= currentUser.escape('username') %></strong>
    <ul class="dropdown-nav-list">
      <li id="dash-link">Dashboard</li>
      <li id="profile-link">My Profile</li>
      <li id="sign-out-link"><a href="#" id="sign-out-link">Sign Out</a></li>
    </ul>
  </li>


<% } else { %>
  <li><a id="login_link" href="#users/new">Join</a></li>
  <li><a href="#session/new" id="login_link">Login</a></li>
<% } %>

  </ul>
</nav>





<style>
.dropdown-nav{
  cursor:pointer;

  width:200px;
  text-align:right;
  position:relative;
  padding-right:10px;
  margin:0;

}

.dropdown-nav:after{
  display:block;
  content: "";
  width: 0;
height: 0;
border-left: 4px solid transparent;
border-right: 4px solid transparent;

border-top: 4px solid #2980b9;
position:absolute;
margin-top:-40px;
right:0;
margin-right:-5px;

}


.dropdown-nav:hover .dropdown-nav-list{
  display:block;
}

.dropdown-nav-list{
  width:100%;
  display:none;
  position:absolute;
}

.dropdown-nav-list li{
  line-height:40px;
  padding-left:20px;
  background: #2980b9;
  width:200px;
  text-align:left;
  color:#fff;
}


.dropdown-nav-list li:hover{
  background: #1c5981;
}


</style>
