<section class="hero">
  <img class="hero-jpg" src="http://i.imgur.com/36KIVJg.jpg" >
  <section class="hero-content">
    <h1>The Blue Lagoon</h1>
    <h1>You have friends in Iceland</h1>
    <h1>(and all over the world)</h1>
  </section>

  <section class="hero-signup">
    <h1>Stay with locals instead of at hotels.</h1>
    <form class="content-form">
      <button>Sign Up</button>
    </form>
  </section>

  <section class="testimonials">
    <blockquote>Mauris molestie feugiat erat, at luctus erat fermentum sed. Proin congue, nunc eget porta volutpat, est nisi hendrerit purus, ac semper erat lectus a lectus. Vestibulum vitae efficitur libero, non elementum mi. Mauris et est turpis. Cras ac mauris quis leo commodo egestas. Mauris pellentesque, eros et vehicula cursus, arcu elit imperdiet tortor, quis faucibus lacus augue a nisi. Sed vitae convallis massa, in scelerisque enim. Etiam quis euismod mauris. Mauris in gravida neque. Vivamus arcu eros, convallis ut suscipit nec, elementum a sem. Phasellus lobortis vulputate ligula at congue.</blockquote>

    <img src="http://i.imgur.com/u3ttnE3.png" width="150px">
  </section>
</section>
