<section class="hero-container">
  <section class="hero">
  <h1>The Blue Lagoon</br>
  You have friends in Iceland</br>
  (and all over the world)</h1>
</section>

  <section class="hero-signup">
    <h1>Stay with locals instead of at hotels.</h1>
    <form class="content-form">
      <button id="guest-login">Guest Login</button>
      <button id="sign-in-google-root">Sign in with Google</button>
    </form>
  </section>
</section>

<section class="testimonials">
  <blockquote>
    Hello, my name is Rafael Maldonado, the developer of this website! This work
    is a clone of couchsurfing, it is a service that allows you to stay at someone's
    house for free when you travel. Instead of spending money at a hotel, you can
    stay with a local.<br><br>
    This website was built solely for demonstration purposes and not for commercial use.
    The project is powered by rails and backbone. If you have any questions, feel free to send me a message at
    rafaeljmaldonado@gmail.com, thanks for visiting!

  </blockquote>
  <img src="https://s3.amazonaws.com/sofahopping/assets/rafael-maldonado.jpg" width="150px">
</section>
