<section class="hero">
  <img src="assets/hero.jpg" >
  <section class="hero-content">
    <h1>The Blue Lagoon</h1>
    <h1>You have friends in Iceland</h1>
    <h1>(and all over the world)</h1>
  </section>

  <section class="hero-signup">
    <h1>Stay with locals instead of at hotels.</h1>
    <form class="content-form">
      <button>Sign Up</button>
    </form>
  </section>

<style>
#splash-page{
  width:100%;
}

.hero{
  width:100%;
  position:relative;

}

.hero-content{
  position:absolute;
  background-color: rgba(0, 0, 0, 0.6);
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin-top:
  vertical-align: middle;
}

.hero-content h1{
  color:#fff;
  text-align:center;
  font-size:36px;
  text-shadow: #2f2f2f 0 0 10px;
}

.hero-signup{
  position:absolute;
  height:150px;
  left:50%;
  transform: translateX(-50%);
  padding:40px;
  background: #fff;
  bottom:-75px;
  text-align:center;
}

.hero-signup h1{
  font-size:24px;
  margin-bottom:20px;
}

.hero-signup button{

}
</style>
