
  <figure class="profile">
      <img src="/assets/default.png" />
    <h2> <%= user.escape('fname') %> <%= user.escape('lname') %> </h2>
    <figcaption><%= user.escape('location') %></figcaption>
  </figure>
  <section class="hosting-status">


    <form class="content-form"  id="hosting_status_form">
    <select name="user[hosting_status]">
      <option>Accepting Guests</option>
      <option>Maybe Accepting Guests</option>
      <option>Not Accepting Guests</option>

    </select>
    <button class="submit">Save</button>
  </section>

<br>


</form>
