<section class="modal-container" id="signup_modal">

<form class="content-form modal signin" id="avatar-upload">
<small id="close_avatar_modal" class="close_modal">X</small>
<header> <h3>Upload Avatar</h3> </header>

  <label>
    Image
    <input type="file" name="user[avatar]" id="avatar-image">
  </label>

  <br>

  <img src="" id="preview-post-image" width="50">

  <br>

  <section class="group button-list">
    <button class="submit">Save</button>
    <button id="close-avatar-form" class="cancel">Cancel</button>
  </section>
</form>
</section>
