<figure class="profile">
    <img src="<%= user.get("avatar_url") %>">

  <footer>
  <h2> <%= user.escape('fname') %> <%= user.escape('lname') %> </h2>
  <figcaption><%= user.escape('location') %></figcaption>
  </footer>
</figure>
