<section class="user-profile-info profile-main-content">
<h3>
  <% if (user.get('hosting_status') === "yes") { %> <span class="accepting">ACCEPTING GUESTS</span> <% } %>
  <% if (user.get('hosting_status') === "maybe") { %><span class="maybe">MAYBE ACCEPTING GUESTS</span> <% } %>
  <% if (user.get('hosting_status') === "no") { %> <span class="no">NOT ACCEPTING GUESTS</span> <% } %>




</h3>

  <% if (SofaHopping.currentUser.id !== parseInt(user.id)) { %>
    <button id="add_friend">Add friend</button>
    <% } %>
</section>

<section class="user-profile-references-container profile-main-content"></section>
<section class="user-profile-friends-container profile-main-content"></section>
