<figure class="profile">
    <img src="http://i.imgur.com/u3ttnE3.png" />
  <h2> <%= user.escape('fname') %> <%= user.escape('lname') %> </h2>
  <figcaption><%= user.escape('location') %></figcaption>
</figure>
