<section class="modal-container" id="login_modal">
<form id="login_form" class="modal signin content-form">
<small id="close_login_modal" class="close_modal">X</small>
<header> <h3>Log in</h3> </header>


<input type="text" name="user[username]" placeholder="Email or Username">
<input type="password" name="user[password]" placeholder="Password">
<footer> <small> Don't have an account? Sign Up </small> </footer>
<section class="group button-list">
  <button>Log In</button>
</section>
</form>
</section>
