<section class="hero">
  <img src="assets/hero.jpg" >
  <section class="hero-content">
    <h1>The Blue Lagoon</h1>
    <h1>You have friends in Iceland</h1>
    <h1>(and all over the world)</h1>
  </section>

  <section class="hero-signup">
    <h1>Stay with locals instead of at hotels.</h1>
    <form class="content-form">
      <button>Sign Up</button>
    </form>
  </section>

  <section class="testimonials">
    <blockquote>Mauris molestie feugiat erat, at luctus erat fermentum sed. Proin congue, nunc eget porta volutpat, est nisi hendrerit purus, ac semper erat lectus a lectus. Vestibulum vitae efficitur libero, non elementum mi. Mauris et est turpis. Cras ac mauris quis leo commodo egestas. Mauris pellentesque, eros et vehicula cursus, arcu elit imperdiet tortor, quis faucibus lacus augue a nisi. Sed vitae convallis massa, in scelerisque enim. Etiam quis euismod mauris. Mauris in gravida neque. Vivamus arcu eros, convallis ut suscipit nec, elementum a sem. Phasellus lobortis vulputate ligula at congue.</blockquote>

    <img src="assets/default.png" width="150px">
  </section>
</section>


<section class="modal-container" id="signup_modal">
  <form id="signup_form" class="modal signin content-form">

    <small id="close_signup_modal" class="close_modal">X</small>
    <header> <h3>Sign Up</h3> </header>
    <input type="text" name="user[fname]" placeholder="First Name">
    <input type="text" name="user[lname]" placeholder="Last Name">
    <br>
    <input type="text" name="user[username]" placeholder="Email">
    <input type="password" name="user[password]" placeholder="Password">
    <select name="user[gender]">
      <option>Select Gender</option>
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
    <input class="datepicker" type="input" name="user[birthday]" placeholder="Birthday">

    <input type="text" id="autocomplete" name="user[location]" placeholder="Location - Use your address for best results">
    <section class="group button-list">
      <button>Create Account</button>
    </section>
  </form>
</section>
