<section class="hero">
  <h1>The Blue Lagoon</br>
  You have friends in Iceland</br>
  (and all over the world)</h1>
</section>



<section class="testimonials">
  <blockquote>  Hello, my name is Rafael Maldonado, the developer of this website! This work
    is a clone of couchsurfing, it is a service that allows you to stay at someone's
    house for free when you travel. Instead of spending money at a hotel, you can
    stay with a local.<br><br>
    This website was built solely for demonstration purposes and not for commercial use.
    The project is powered by rails and backbone. If you have any questions, feel free to send me a message at
    rafaeljmaldonado@gmail.com, thanks for visiting!</blockquote>

  <img src="https://s3.amazonaws.com/sofahopping/assets/rafael-maldonado.jpg" width="150px">
</section>



<section class="modal-container" id="signup_modal">
  <form id="signup_form" class="modal signin content-form">

    <small id="close_signup_modal" class="close_modal">X</small>
    <header> <h3>Sign Up</h3> </header>
    <input type="text" name="user[fname]" placeholder="First Name">
    <input type="text" name="user[lname]" placeholder="Last Name">
    <input type="text" name="user[username]" placeholder="Email">
    <input type="password" name="user[password]" placeholder="Password">
    <select name="user[gender]">
      <option>Select Gender</option>
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
    <input class="datepicker" type="input" name="user[birthday]" placeholder="Birthday">

    <input type="text" id="autocomplete" name="user[location]" placeholder="Location - Use your address for best results">
    <section class="group button-list">
      <button>Create Account</button>
      <button id="google-sign-in">Sign in with Google</button>
    </section>
  </form>
</section>
