<section class="modal-container" id="signup_modal">
  <form id="signup_form" class="modal signin content-form">

    <small id="close_signup_modal" class="close_modal">X</small>
    <header> <h3>Sign Up</h3> </header>
    <input type="text" name="user[fname]" placeholder="First Name">
    <input type="text" name="user[lname]" placeholder="Last Name">
    <br>
    <input type="text" name="user[username]" placeholder="Email">
    <input type="password" name="user[password]" placeholder="Password">
    <select name="user[gender]">
      <option>Select Gender</option>
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
    <input class="datepicker" type="input" name="user[birthday]" placeholder="Birthday">

    <input type="text" id="autocomplete" name="user[location]" placeholder="Location - Use your address for best results">
    <section class="group button-list">
      <button>Create Account</button>
    </section>
  </form>
</section>
