
  <script>
  $(document).ready(function(){
    SofaHopping.initialize();
  });
  </script>

<header class="main-header" id="header"></header>

<section id="main">
  <section id="splash-page"></section>
  <section id="content" class="group"></section>
</section>
