


<% if current_user %>
  <script>
  $(document).ready(function(){
    SofaHopping.initialize(<%= current_user.id %>);
  });
  </script>
  <section id="main">
    <section id="content"></section>

  </section>
<% end %>
