/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, h3, p, form, figure,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }
 body{
   box-sizing:border-box;
   position:relative;
   font-size:14px;
   font-family: Arial;
 }
 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   /*
   Get rid of native styling. Read more here:
   http://css-tricks.com/almanac/properties/a/appearance/
   */
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 #main{
   background-color:#f6f6f6;
  width:100%;
  height:100%;
 }

 #content{
   width:100%;
   margin:0 auto;
 }

  .group:after{
    content: "";
    display:block;
    clear:both;
  }


 .main-header{
   width:1120px;
   margin:0 auto;
   height:80px;
   line-height:80px;
 }
 .header-nav img {
   width:200px;
   height:auto;
   float:left;
   margin-top:10px;

 }
 .header-nav .nav-list{
   float:right;
 }

 .header-nav .nav-list li{
   margin-left:20px;
   float:left;
 }

 #search{
   float:left;
 }

 .no-display{
  display:none;
  opacity:0;
}

.modal-container{
  opacity:100;
  position:fixed;
  top:0;
  bottom:0;
  width:100%;
  background-color: rgba(0,0,0,.4);

}

.modal{
  background: #fff;
  margin:0 auto;
  margin-top:150px;
  position:relative;
  box-shadow: 0px 0px 10px #000;
  position: relative;
  z-index:999;

}

.modal h3{
  margin-top:4px;
  font-size:18px;
  margin-bottom:20px;
}

.close_modal{
  cursor:pointer;
  position:absolute;
  right:0;
  margin-right:20px;
  font-size:24px;
  color:#7f8c8d;
  font-weight:bold;
}
.signin{
  width:320px;
  padding:10px 20px 30px 20px;
}

.signin header, .signin footer{
  text-align:center;
}

.signin input, .signin select{
  display:block;
  width:100%;

  border-radius:5px;
line-height:40px;
  padding:0em .5em;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  margin-bottom:5px;

}

.signin button{
  display:block;
  background-color: #287fb8;
line-height:40px;
  color: #fff;
  font-weight: bold;
  width:100%;
  text-align:center;
  border-radius:2px;
  margin-top:20px;
  margin-bottom:20px;
}

.signin select{
  height:40px;
  background: #fff;
}


.hero{
  width:100%;
  height:600px;
  background-size: cover;
  background:url("https://placeimg.com/1980/600/nature");
  position:relative;
}

.search-results{
  width:700px;
  margin:0 auto;
}
.search-results h2{

  width:700px;
  margin:0 auto;
  background-color:#FFF;
  border-bottom: 3px solid #ecf0f1;
  padding:10px 20px;
  color: #34495e;
  font-size:20px;
  font-weight:bold;

}
  .search-results-list{
    width:700px;
    margin:0 auto;
  }
  .search-results-list li{
    background-color:#fff;
    padding:20px;
    border-top: 1px solid #ecf0f1;

  }

  .search-results img{
    width:80px;
    height:80px;
    border-radius:4px;
    float:left;
  }

  .search-results .user-name-loc{
    float:left;
    margin-left:20px;
    width:440px;
  }

  .search-results a{
    font-weight:bold;
    font-size:20px;
    color:#2f2f2f;
  }

  .search-results a:hover{
    text-decoration:underline;
  }
  .search-results .user-host-logged{
    float:left;

  }
  .user-host-logged{
    word-wrap: break-word;
   width:120px;
   text-align:right;
  }
  .user-host-logged span{
    display:block;

      font-weight:bold;
      font-size:20px;
      line-height:20px;

  }
  .user-host-logged small{
    display:block;
       word-wrap: break-word;
    color: #bdc3c7;
    margin-top:10px;
    font-size:12px;
  }

  .search_form{

    height:40px;
    line-height:40px;
    border: 1px #bdc3c7 solid;
    border-radius:20px;
    z-index:1;
    padding:0px 20px;
    margin-top:20px;
  }

  .search_form select, .search_form button{
    float:left;
    margin-top:-2px;
  }

  .search_form select{
    background:none;
    border:none;
    height:40px;
    outline:0;

  }

  .search_form select option{
    padding:10px;
  }

  .search_form button{
    margin-left:20px;
  }

  .uppercase{
    text-transform: uppercase;
  }

  #content{
    width:1120px;
    margin:0 auto;
    padding:20px 0px;
  }
  .profile-sidebar-container{
    float:left;
    width:300px;
    margin-right:40px;
    background: blue;
  }

  .profile-main-container{
    float:right;
    width:780px;

  }

  .profile-main-content{
    margin-top:40px;
    background: #fff;
    border: 1px solid #d5d5d5;

  }

  .profile-main-content h2, .profile-main-content h3{
    border-bottom: 1px solid #d5d5d5;
    padding:20px;
    font-size: 18px;
  }

  .profile-main-content h3{
    border:none;
  }

  .references-list, .friends-list{
    padding: 0px 20px;
  }

  .references-list li, .friends-list li{
    padding:20px 0px;
    border-bottom:#EDEDED 1px solid;
  }

  .references-list li:last-child, .friends-list li:last-child, .profile-main-content:last-child{
    border-bottom :none;
  }
