/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, h3, p, form, figure,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 strong{
   font-weight:bold;
 }
 body{
   box-sizing:border-box;
   position:relative;
   font-size:14px;
   font-family: Arial;
 }
 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 small{
   display:block;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 input[type="submit"],
 textarea,
 button {
   /*
   Get rid of native styling. Read more here:
   http://css-tricks.com/almanac/properties/a/appearance/
   */
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

 h1, h2, h3{
   color: #354a5f;
 }

 #main{
   background-color:#f6f6f6;
  width:100%;
  height:100%;
 }

 #content{
   width:100%;
   margin:0 auto;
 }

  .group:after{
    content: "";
    display:block;
    clear:both;
  }


 .main-header{
   width:1120px;
   margin:0 auto;
   height:80px;
   line-height:80px;
 }
 .header-nav img {
   width:200px;
   height:auto;
   float:left;
   margin-top:10px;

 }
 .header-nav .nav-list{
   float:right;
 }

 .header-nav .nav-list li{
   float:left;
   margin-left:20px;
 }

 /** SPLASH PAGE STYLING **/

 #splash-page{
   width:100%;
 }

 .hero{
   width:100%;
   position:relative;

 }


 .hero-content{
   position:absolute;
   background-color: rgba(0, 0, 0, 0.6);
   left:0;
   right:0;
   top:0;
   bottom:0;
   margin-top:
   vertical-align: middle;
 }

 .hero-content h1{
   color:#fff;
   text-align:center;
   font-size:36px;
   text-shadow: #2f2f2f 0 0 10px;
 }

 .hero-signup{
   position:absolute;
   height:150px;
   left:50%;
   transform: translateX(-50%);
   padding:40px;
   background: #fff;
   bottom:-75px;
   text-align:center;
   z-index:1;
 }

 .hero-signup h1{
   font-size:24px;
   margin-bottom:20px;
 }

 .hero-signup button{

 }

 .testimonials{
   position:absolute;
   padding:180px 0px;
   background:#ecf0f1;
   width:100%;
 }

 .testimonials blockquote{
   width:700px;
   text-align:center;
   margin:0 auto;
   position:relative;
   color: #2980b9;
   font-size:16px;
   line-height:1.5em;
   margin-bottom:40px;
 }

 blockquote:before {
     display: block;
     content: "\201C";
     font-size: 80px;
     position:absolute;
     left:50%;
     margin-top:-40px;
     transform: translateX(-50%);
     text-align:center;
     color: #2980b9;
     font-family: Georgia, serif;
 }

 .testimonials img{
   width:100px;
   border-radius:50px;
   margin:0 auto;
 }



 /** DASHBOARD STYLING */

 .profile{
 position:relative;
 }
 .profile img{
   width:250px;
   height:250px;
   background-color:#FFF;


 }

 .profile h2{
     position: absolute;
     top:0;
     margin-top:170px;
     margin-left:10px;
     color:#FFF;
     font-size:24px;
 }

 .profile figcaption{
   position: absolute;
   top:0;
   margin-top:220px;
   margin-left:10px;
   color:#FFF;
   font-size:16px;
 }

 /** TRIPS STYLING **/

 .trips-list{
   padding:20px 20px 0px 20px;
 }

 .trips-list li{
   margin-bottom:20px;
   background: #f6f6f6;
   padding:20px;
   border-radius:4px;
 }

 .trips-list h3{
   font-size:18px;
   margin-bottom:10px;
 }

 .trips-list small{
   display:block;
   margin-bottom:10px;
 }

 .trips-list p{
   margin-bottom:10px;
 }

 /** SEARCH STYLING **/

 #search{
   float:left;
 }

 .no-display{
  display:none;
  opacity:0;
}

.modal-container{
  z-index:1;
  opacity:100;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0,0,0,.4);

}

.modal{
  background: #fff;
  margin:0 auto;
  margin-top:150px;
  position:relative;
  box-shadow: 0px 0px 10px #000;
  position: relative;
  z-index:999;

}

.modal header{
  background: #ecf0f1;
  padding:20px;
  margin-bottom:20px;
}

.modal footer{
  margin-left:20px;
}

.modal h3{
  font-size:24px;
}

.close_modal{
  cursor:pointer;
  position:absolute;
  top:20px;
  right:0;
  margin-right:20px;
  font-size:24px;
  color: #d8d8d8;
  font-weight:bold;
}

.close_modal:hover{
  color:#acacac;
}
.content-form{
  width:320px;
  color: #444;
}


.content-form input, .content-form select, .content-form textarea{
  display:block;
  width:280px;
  margin:0 auto;
  border-radius:5px;

  padding:10px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  margin-bottom:10px;
}

.content-form textarea{
  height:100px;
  max-height:150px;
  max-width:280px;
}

.content-form label{
  margin-left:20px;
  display:block;
  margin-bottom:5px;
}

.content-form button{
  display:block;
  background: #3498db;
  line-height:35px;
  color: #fff;
  text-align:center;
  border-radius:4px;
  margin-right:10px;
  padding:0 10px;
  border-bottom: 2px solid #206694;
  float:left;
  min-width:80px;
}

.content-form button:active{
  border:none;
  position:relative;
  margin-top:1px;
  background: #2980b9;
}
.content-form button:hover{
  background: #2980b9;
}

.content-form select{
  height:40px;
  background: #fff;
}

.content-form .button-list{
  margin-top:40px;
  background: #ecf0f1;
  padding:20px;
}




.search-results{
  width:700px;
  margin:0 auto;
}

.create-trip, .search-results header{
  width:700px;
  margin:0 auto;
  background-color:#FFF;
  border-bottom: 3px solid #ecf0f1;
  padding:10px 20px;

}
.search-results h2, .search-results header{
  color: #34495e;
  font-size:20px;
  font-weight:bold;

}

.create-trip h2{
  margin-bottom:5px;
}
  .search-results-list{
    width:700px;
    margin:0 auto;
  }
  .search-results-list li{
    background-color:#fff;
    padding:20px;
    border-top: 1px solid #ecf0f1;

  }

  .search-results img{
    width:80px;
    height:80px;
    border-radius:4px;
    float:left;
  }

  .search-results .user-name-loc{
    float:left;
    margin-left:20px;
    width:440px;
  }

  .search-results a{
    font-weight:bold;
    font-size:20px;
    color:#2f2f2f;
  }

  .search-results a:hover{
    text-decoration:underline;
  }
  .search-results .user-host-logged{
    float:left;

  }
  .user-host-logged{
    word-wrap: break-word;
   width:120px;
   text-align:right;
  }
  .user-host-logged span{
    display:block;

      font-weight:bold;
      font-size:20px;
      line-height:20px;

  }
  .user-host-logged small{
    display:block;
       word-wrap: break-word;
    color: #bdc3c7;
    margin-top:10px;
    font-size:12px;
  }

  .search_form{

    height:40px;
    line-height:40px;
    border: 1px #bdc3c7 solid;
    border-radius:20px;
    z-index:1;
    padding:0px 20px;
    margin-top:20px;
  }

  .search_form select, .search_form button{
    float:left;
    margin-top:-2px;
  }

  .search_form select{
    background:none;
    border:none;
    height:40px;
    outline:0;

  }

  .search_form select option{
    padding:10px;
  }

  .search_form button{
    margin-left:20px;
  }

  .accepting{
    color: #27ae60;
  }

  .maybe{
    color: #2980b9;
  }

  .no{
    color: #898989;
  }

  small.loc{
    margin-bottom:10px;
  }

  .num_refs{
    color: #acacac;

  }


  /** PROFILE SIDEBAR STYLES **/

  #content{
    width:1120px;
    margin:0 auto;


  }
  .profile-sidebar-container, .dash-sidebar-container{
    float:left;
    width:300px;
    margin-right:40px;
  }

/** PROFILE MAIN STYLES **/
  .profile-main-container, .dash-main-container{
    float:right;
    width:780px;

  }

  .profile-main-content, .dash-main-content{
    margin-top:40px;
    background: #fff;
    border: 1px solid #d5d5d5;

  }

  .profile-main-content h2, .profile-main-content h3, .dash-main-content h2{
    border-bottom: 1px solid #d5d5d5;
    padding:20px;
    font-size: 18px;
  }

  .profile-main-content h3{
    border:none;
  }

  .references-list, .friends-list{
    padding: 0px 20px;
  }

  .references-list li, .friends-list li{
    padding:20px 0px;
    border-bottom:#EDEDED 1px solid;
  }

  .references-list li:last-child, .friends-list li:last-child{
    border-bottom :none;
  }

/** BUTTON STYLING **/

.content-form .submit{
  background: #2ecc71;
  border-bottom: 2px #186f3c solid;
}

.content-form .submit:hover, .content-form .submit:active{
  background: #27ae60;
}

.content-form .delete{
  background: #e74c3c;
  border-bottom: 2px #82251c solid;
}

.content-form .delete:hover, .content-form .delete:active{
  background: #c0392b;
}


.content-form .cancel{
  background: #d8d8d8;
  color: #fff;
  border-bottom: 2px #898989 solid;
}

.content-form .cancel:hover, .content-form .cancel:active{
  background: #acacac;
}

/**  ERROR STYLING **/
 .errors{
    color: #D8000C;
    background-color: #FFBABA;
  }

  .errors li{
    margin: 10px 20px 0px 20px;
  }
