

.friends-list li{
   float:left;
   width:33%;
   margin-bottom:20px;
   padding-left:10px;
   font-size:14px;
   border-radius:10px;

 }
 .friends-list li figure{
   width:50px;
   height:50px;
   float:left;
 }

 .friends-list li figure img{
   border-radius:25px;
 }

 .friends-list li .friend-details{
   float:left;
   margin-left:10px;
   margin-top:5px;
 }

 .friends-list li .friend-details a{
   color:#2980b9;
   font-weight:bold;
 }

 .friends-list li .friend-details a:hover{
   text-decoration:underline;
 }

.friend-details{
  margin-bottom:10px;
}
.friend-actions{
  margin-top:10px;
  margin-left:30%;

}

.pending-requests h3{
  padding:20px;
  font-size: 18px;

}
