.main-header{
   width:1120px;
   margin:0 auto;

 }

 .header-nav img {
   width:180px;
   float:left;
 }

 .nav-list{
   float:right;
   line-height:60px;
 }

 .header-nav .nav-list li{
   float:left;
   margin-left:20px;
 }

 /** DROP DOWN NAVIGATION STYLING **/

 .dropdown-nav{
   cursor:pointer;

   text-align:right;
   position:relative;
   margin:0;


 }



 .dropdown-nav:hover .dropdown-nav-list{
   display:block;

 }

 .dropdown-nav-list{
   width:100%;
   display:none;
   position:absolute;
   margin-top:0px;
   right:0;
   margin-right:150px;

 }

 .dropdown-nav-list li{
   line-height:40px;
   padding-left:20px;
   background: #2980b9;
   width:200px;
   text-align:left;
   color:#fff;
 }

 .dropdown-nav-list li i{
   margin-right:10px;
 }


 .dropdown-nav-list li:hover{
   background: #1c5981;
 }



.header-prof-img{
  width:40px;
  height:40px;
  margin-top:5px;
  margin-right:20px;
}

.header-prof-img img{
  border-radius:50%;
}
.user-notifications{
  position:relative;
  color: #1c5981;
  line-height:60px;
  margin-right:20px;
}
