.messages{
  margin-top:40px;
  margin-left:40px;
  margin-right:40px;
  background: #d4d8d8;
  border-radius:5px;
}
.messages .messages-list li{
  margin:0;
  padding:5px;
}

.messages .messages-list li{
  border-bottom:1px solid #fff;
}



.messages .messages-list li figure{
  float:left;
  width:40px;
}

.messages .messages-list li figure img{
  border-radius: 50%;
}

.messages .messages-list li p{
  width:500px;
  float:left;
}
