.profile-sidebar-container, .dash-sidebar-container{
  float:left;
  width:250px;
  margin-right:40px;
}

/** PROFILE MAIN STYLES **/
.profile-main-container, .dash-main-container{
  float:right;
  width:780px;

}



.user-main-content{
  background:#fff;
  padding:20px;
  margin-bottom:40px;
}

.user-main-content header h3{
  float:left;

}

.user-main-content header h3, .user-main-content h2{
  font-size:20px;
  font-weight:400;
  color:#2980b9;
}

.user-main-content .mini-form{
  float:right;
  padding:0;
  margin:0;
}

.user-main-content .mini-form button:last-child{
  margin-right:0;
}


.profile header{
  position:absolute;
  top:0;

  left:0;

  background-color: rgba(0,0,0,.5);
    cursor:pointer;
}

.profile header:hover{

  background-color: rgba(52, 152, 219,.75)
}

.profile header small{
  font-size:14px;
  font-weight:normal;
  padding:10px 20px;
}

.profile{
position:relative;
color:#fff;
width:250px;
height:250px;

}
.profile img{


  background-size:contain;
}

.profile h2{

    margin-left:10px;

    font-size:18px;
}

.profile figcaption{

  margin-left:10px;
  color:#FFF;
  font-size:14px;

}

.profile footer{
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin-top:200px;
  padding:5px;
  background-color: rgba(0,0,0,.5);

}
