.references-list.none:before{
   content: "No references have been found.";

   display:block;
 }

 .references-list{
   margin-top:20px;
 }



.references-list li{
    padding:10px 10px;
    background:#f6f6f6;
    border-radius:10px;
    margin-bottom:20px;
  }

  .references-list li:last-child, .friends-list li:last-child{
    border-bottom :none;
  }
