.references-list.none:before{
   content: "No references have been found.";
   padding:20px 0px;
   display:block;
 }

 .references-list, .friends-list{
  padding: 0px 20px;
}

.references-list li{
    padding:20px 0px;
    border-top:#EDEDED 1px solid;
  }

  .references-list li:last-child, .friends-list li:last-child{
    border-bottom :none;
  }
