.user-thumb{
  width:75px;
  height:75px;
  float:left;

}

.user-thumb img{
  border-radius:37.5px;
}

.request-user-details{
float:left;
margin-left:20px;
font-size:16px;
line-height:1.5em;
}


.request-user-details small.timeago{
  font-size:12px;
  color:#bdc3c7;
}

.requests{
  width:100%;
}

.requests-header{
  padding:20px;
  width:750px;
  margin:0 auto;
  background: #ecf0f1;
  font-size:18px;
}


.requests-list {
  width:750px;
  margin:0 auto;
  padding-bottom:60px;
}

.requests-list li a{
  width:100%;
}

.requests-list li{
  background:#fff;
  border-bottom: 1px solid #eee;
  padding:10px;
}

.requests-list li:hover{
  background: #dce2e3;
}

.requests-details{
  padding:10px;
}

.request-details{
  width:750px;
  margin:0 auto;
  background:#fff;

  margin-bottom:60px;

}


.request-container{
  margin-left:20px;
}

.request-description{
  border-top:1px solid #eee;
  margin-top:20px;
  margin-left:20px;
}

.requests-updates-list li{
  width:100%;
  display:block;
  margin-top:40px;

}

.requests-updates-list li figure{
  width:75px;
  height:75px;
  float:left;

}

.requests-updates-list li p{
  margin-top:10px;
  margin-left:10px;
  float:left;

}

.requests-updates-list li figure img{
  border-radius: 37px;
}

.request-details .content-form{
  margin-top:20px;
  margin-left:115px;
}

.request-details header{
  background: #ecf0f1;
  padding:20px;
  margin-bottom:20px;
}

.request-details header h3{
  font-size:24px;

}

.requests-list.none:before{
  content:"Nothing in your inbox.";
  padding:20px 20px;
  background:#fff;
  display:block;

}

.request-status{
  float:right;
}

.request-status small{
text-transform: uppercase;
}

.request-status small.pending{
color: #2980b9;
}

.request-status small.rejected{
color: #c0392b;
}

.request-status small.accepted{
color: #27ae60;
}

.request-status small.cancelled{
color: #7f8c8d;
}

.back-to-index{
  cursor:pointer;
  color:#2980b9;
  font-size:16px;
  margin-top:10px;
}

.back-to-index:hover{
  text-decoration:underline;
}
