<section class="modal-container">
  <form id="create_trip" class="modal signin">
    <small id="close_trip_modal" class="close_modal">X</small>
    <header> <h3>Create a Public Trip</h3> </header>

<label for="trip-loc"> Where are you going? </label>
    <input id="trip-loc" name="trip[location]" type="text" placeholder="e.g.: New York City">

  <label for="trip-arr">Arriving On</label>
  <input class="datepicker" id="trip-arr" name="trip[arrival_date]" type="text">

<label for="trip-dep">Leaving On</label>
<input class="datepicker" id="trip-dep" name="trip[departure_date]" type="text">

<label for="trip-guests">How many guests?</label>
<input id="trip-guests" name="trip[num_guests]" type="text" placeholder="e.g.: 2 guests">

<label for="trip-desc">Trip description</label>
<textarea id="trip"-desc name="trip[description]" placeholder="Tell locals about your trip and why they should meet or host you."></textarea>

    <button>Create</button>
  </form>
</section>
