<header class="group">
  <h3>References</h3>

  <section class="profile-actions">
    <% if (currentUser.id !== parseInt(visitedUser.id)) { %>
    <form class="mini-form">
      <button id="create_reference">Write Reference</button>
    </form>
    <% } %>
  </section>
</header>



<ul class="references-list none"></ul>
