<section class="modal-container">
  <form id="create_trip" class="modal signin">
<small id="close_reference_modal" class="close_modal">X</small>
<h3>Write Reference</h3>
<ul class="errors"></ul>



  <button id="create_reference">Post Reference</button>

  </form>
</section>
