<%= reference.escape('description') %>
<%= reference.escape('relationship') %>
<%= reference.escape('experience') %>

<% if (currentUser.id === reference.get("referencer_id")) {%>
  <button id="delete_reference">Delete Reference</button>
<% } %>
