<h2>References</h2>

<% if (parseInt(visitedUser.id) !== currentUser.id) { %>
<form class="content-form group">
  <button id="create_reference">Write Reference</button>
</form>
<% } %>

<ul class="references-list"></ul>
